<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sourcefolderpath" value="C:\LBFSetup\Videos"/>
    <add key="targetfolderpath" value="C:\LBFSetup\ClientPackages"/>
    <add key="clientinfofilename" value="clientinfo.txt"/>
    <add key="admininfofilename" value="admininfo.txt"/>
  </appSettings>
</configuration>