<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sourcevideofolderpath" value="D:\School\Video Folders Structure"/>
    <add key="clientdistributiontargetrootpath" value="D:\School\ClientPackages"/>
    <add key="clientdistributionpath" value="D:\School\ClientDistribution"/>
    <add key="clientinfofilename" value="clientinfo.txt"/>
  </appSettings>
</configuration>  