<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sourcevideofolderpath" value="D:\Videos"/>
    <add key="clientdistributiontargetrootpath" value="D:\Development\School\Setup\Admin\Registration\ClientPackages"/>
    <add key="clientdistributionpath" value="D:\Development\School\Setup\Admin\Registration\ClientDistribution"/>
    <add key="clientinfofilename" value="clientinfo.txt"/>
  </appSettings>
</configuration>  