<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sourcevideofolderpath" value="C:\LBFSetup\Videos"/>
    <add key="clientdistributiontargetrootpath" value="C:\LBFSetup\ClientPackages"/>
    <add key="clientdistributionpath" value="C:\LBFSetup\Registration\ClientDistribution"/>
    <add key="clientinfofilename" value="clientinfo.txt"/>
  </appSettings>
</configuration>  